.destination_conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../assets/destination/background-destination-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    .pick_your_destination{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #f2f2f2;
        p{
            font-size: 16px;
            font-weight: 600;
        }
        strong{
            color: #979797;
            margin-right: 10px ;
        }
    }
    .image_conteiner{
        img{
            height: 170px;
            margin: 10px 0px ;
        }
    }
    .destination_content{
        color: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;
        width: 90vw;

        
        .title{
            font-size: 56px;
            letter-spacing: 4px;
            font-weight: 500;
            margin: 0;
            margin-top: 10px;
           
        }
        p{
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            color: #D0D6F9;
            line-height: 28px;
        }
        
    }
    hr{
        
        height: 2px;
        width: 80vw;
        border-color: #979797;
    }
    .first_content,.second_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .destine_info{
       text-align: center;
       margin-bottom: 20px;
       text-transform: uppercase;
       p{
           font-size:14px ;
           color: #D0D6F9;
        
       }
       h3{
           font-size:28px;
           color: #fff;
           margin: 0
       }
   }
}

@media (min-width:760px){
    .destination_conteiner{
        background-image: url(../../assets/destination/background-destination-tablet.jpg);

        height: 100vh;
        .pick_your_destination{
            align-self: flex-start;
            margin: 10px;
        }
        .image_conteiner{
            img{
                height: 300px;
                width: 300px;
            }
        }
        .destination_content{
            width: 80vw;
            .title{
                font-size: 80px;
            }
            p{
                font-size: 16px;
            }
        }
        .destine_content{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 80vw;
        }
    }
}

@media (min-width:1024px) {
    .destination_conteiner{
        background-image: url(../../assets/destination/background-destination-desktop.jpg);
        flex-direction: row;
        position: relative;
        height: auto;
        width: 100vw;
        
        
        .image_conteiner{
            img{
                height: 445px;
                width: 445px;
                margin-left: 150px;
            }
        }
        .first_content{
            width: 30vw;
            margin: 100px;
            .pick_your_destination{
                margin-top: 100px;
            }
        }
        .second_content{
            margin-left: 200px;
            align-items: flex-start;
            width: 30vw;
            hr{
                width: 30vw;
            }
            .destination_content{
                align-items: flex-start;
                width: 30vw;
                .about{
                    text-align: start;
                }
                
            }
            .destine_content{
                width: 30vw;
                align-items: flex-start;
                .destine_info{
                    text-align: start;
                }
            }
        }
    }
}