.crew_conteiner{
    height: 100vh;
    background-image: url(../../assets/crew/background-crew-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    .meet_your_crew{
        
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #f2f2f2;
        p{
            font-size: 16px;
            font-weight: 600;
        }
        strong{
            color: #979797;
            margin-right: 10px ;
        }
        
    }
    .image_conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            height: 222px;
            width: 177.12px;
            margin: 0px 0px ;
        }
        hr{
            margin-top: 0;
            width: 90vw;
            height: 0.5px;
            border-color: #979797;
        }

    }
    .professional_content{
        color:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 90vw;
        p{
            color: #fff;
            font-size: 16px;
            margin:0;
            margin-top: 20px;
        }
        h3{
            font-size: 24px;
            margin: 10px 0;

        }
        strong{
            text-align: center;
            font-size: 15px;
            line-height: 25px;
            font-weight: 500;
            color: #D0D6F9;
        }
    }
} 