.crew_conteiner{
    height: 100vh;
    background-image: url(../../assets/crew/background-crew-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    .meet_your_crew{
        
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #f2f2f2;
        p{
            font-size: 16px;
            font-weight: 600;
        }
        strong{
            color: #979797;
            margin-right: 10px ;
        }
        
    }
    .image_conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            height: 222px;
            width: 177.12px;
            margin: 0px 0px ;
        }
        hr{
            margin-top: 0;
            width: 90vw;
            height: 0.5px;
            border-color: #979797;
        }

    }
    .professional_content{
        color:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 90vw;
        p{
            color: #fff;
            font-size: 16px;
            margin:0;
            margin-top: 20px;
        }
        h3{
            font-size: 24px;
            margin: 10px 0;

        }
        strong{
            text-align: center;
            font-size: 15px;
            line-height: 25px;
            font-weight: 500;
            color: #D0D6F9;
        }
    }
} 

@media (min-width:750px) {
    
    .crew_conteiner{
        position: relative;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        .header_conteiner{
            position: absolute;
            top: 0;
        }
        .meet_your_crew{
            position: absolute;
            top: 15vh;
            left: 10px;
        }

        .professional_content{
            position: absolute;
            top: 25vh;
            width: 60vw;
            
        }
        .CrewNavBar_conteiner{
            position: absolute;
            top: 43vh;
        }
        hr{
            display: none;
        }
        .image_conteiner{
            img{
                position: absolute;
                bottom: 0;
                height: 532px;
                width: 456px;
            }
        }
    }
}

@media (min-width:1024px) {
    .crew_conteiner{
        
        flex-direction: row-reverse;
        .meet_your_crew{
            left: -20vw;
        }
        .image_conteiner{
            position: relative;
            bottom: -50vh;
        }
        .professional_content{
            position: relative;
            left: -20vw;
            top: 0px;
            align-items: flex-start;
            width: 30vw;
            p{
                text-align: start;
                font-size: 32px;
            }
            h3{
                text-align: start;
                font-size: 56px;
            }
            strong{
                text-align: start;
                font-size: 18px;
            }
        }
        .CrewNavBar_conteiner{
            position: relative;
            left: -50vw;
            top: 30vh;
        }
    }
}